
<div>
<%= @player_one.name%> vs <%= @player_two.name %>
<br>
<%= @player_one.name %>: <%=@player_one.hp %> HP vs <%= @player_two.name %>: <%= @player_two.hp%> HP
<br>
<a href="/attack">Attack</a>
</div>
